
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
    <link href="{% static "css/about.css" %}" rel="stylesheet">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About us page html</title>
    </head>
    
    <body>
        <div class="navbar">
          </div>
      <div class="container">
    
        <div class="wrapper">
          <div class="hr">
            <hr>
            <h2>Our Mission</h2>
            <hr>
          </div>
    
          <p class="mission-txt">"To Provide Quality Education at Low Cost"</p>
    
        </div>
    
        <div class="wrapper">
          <h2>About</h2>
          <div>
            <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/teaching.png" alt="img">
            <p>A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory.
              teenagers who have completed primary education. An institution where higher education is taught, is commonly called a university college or university. </p>
            <p>A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory.
              teenagers who have completed primary education. An institution where higher education is taught, is commonly called a university college or university. </p>
    
          </div>
        </div>
    
        <div class="wrapper">
          <h2>Faculties</h2>
          <div class="faculties">
            <div class="unit">
              <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Director.jpg" alt="">
              <p>Jona Chen, Director</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
    
            </div>
            <div class="unit">
              <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Principal.jpg" alt="">
              <p>Mathew Tram, Principal</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
    
            </div>
            <div class="unit">
              <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/vice-principal.jpg" alt="">
              <p>Lawn Sethi, Vice Principal</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
            </div>
          </div>
        </div>
    
      </div>
    </body>
    
    </html>